<h2>All Landmarks</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
    <th>Figure</th>
  </tr>

  <%@landmarks.each do |landmark|%>
  <tr>
    <td><a href="/landmarks/<%=landmark.id%>"><%= landmark.name %></a></td>
    <td><%= landmark.year_completed %></td>
    <%if landmark.figure%>
      <td><a href="/figures/<%=landmark.figure.id%>"><%= landmark.figure.name %></a></td>
    <%else%>
      <td>[N/A]</td>
    <%end%>
  </tr>
  <%end%>
<table>
